/* HTML CSS */
html {
  scroll-behavior: smooth;
}

/* Body CSS */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(../images/heroImg_background.jpg);
  background-repeat: none;
  background-size: cover;
}

/* Font Sizes */

h1 {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

/* Button & Hover Effect */

button {
  background-color: #253551;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
}

button:hover {
  transition: box-shadow .3s;
  box-shadow: 0 0 1px rgba(33,33,33,.5);  
}

/* Navigation Bar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 20px;
}
.logo {
  flex: 1;
  font-size: 24px;
}
.logo img {
  height: 64px;
  vertical-align: middle;
}
.nav-links {
  flex: 2;
  text-align: center;
}
.nav-links a {
  color: black;
  text-decoration: none;
  margin: 0 20px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.social-links {
  flex: 1;
  text-align: right;
}
.social-links a {
  color: black;
  text-decoration: none;
  margin: 0 1rem;
}

.social-links a img {
  width: 26px;
  padding: 13px;
  border-radius: 100px;
  color: white;
  /* outline: 1px solid red; */
}

.social-links a img:hover {
    transition: box-shadow .3s;
  box-shadow: 0 0 12px rgba(33,33,33,.5); 
  text-decoration: underline;
}

/* <!--  My UX Skills section coded using CSS Grid --> */

.mySkills {
  text-align: center;
}

.mySkills p {
  font-size: 13px;
}

.skillsGrid {
  display: flex;

}

/* .skillsGrid {
  display: grid;
  margin-left: 40px;
  margin-right: 40px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  " skill1 skill2 skill3 skill4 skill5";
} */

.skill1, .skill2, .skill3, .skill4, .skill5 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  /* outline: 1px solid red; */
  padding: 48px;
  margin: 6px;
  width: calc(100%/5);
  min-height: 250px;
}

.skill1 img, .skill2 img, .skill3 img, .skill4 img, .skill5 img {
  margin: 0 auto;
  width: 100px;
}


.flexContainer div img {
  margin: 0 auto;
}

/* <!-- My Work Section Constructed using CSS Grid --> */

.myWork {
  text-align: center;
}

.workGrid {
  display: grid;
  margin-left: 40px;
  margin-right: 40px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "caseStudy1 caseStudy2 caseStudy3";
}

.caseStudy1, .caseStudy2, .caseStudy3 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  /* outline: 1px solid black; */
  padding: 96px;
  margin: 6px;
  min-height: 250px;
  border-radius: 5px;
  background-color: white;
}

.caseStudy1:hover, .caseStudy2:hover, .caseStudy3:hover {
  transition: box-shadow .3s;
  box-shadow: 0 0 12px rgba(33,33,33,.5); 
}

.caseStudy1 img, .caseStudy2 img, .caseStudy3 img {
  margin: 0 auto;
}

.viewAll {
display: flex;
justify-content: center;
padding: 24px;
/* outline: 1px solid red; */
}

/* Footer Bar */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #c6c6c6;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

footer div {
  display: flex;
  justify-content: center;
}

footer div a {
  margin: 0 1rem;
  text-decoration: none;
  color: black;
}

footer div a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Footer Social Media   */

@media only screen and (max-width: 600px) {
  .logo img {
  height: 32px;
  vertical-align: middle;
}
  
  .nav-links {
    display:none;
  }

  .social-links {
    visibility: hidden;
  }
  
  .skillsGrid img {
    visibility: hidden;
  }
  .skillsGrid {
    flex-direction: column;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "skill1"
    "skill2"
    "skill3"
    "skill4"
    "skill5";
    }
  
  .skill1, .skill2, .skill3, .skill4, .skill5 {
    width:fit-content;
    padding: 0;
  }

  .caseStudy1 img, .caseStudy2 img, .caseStudy3 img {
    visibility: hidden;
    margin:auto;
  }

  .workGrid {
  flex-direction: column;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "caseStudy1"
  "caseStudy2"
  "caseStudy3";
  }
}